name: 'build-test'
on:
  pull_request:
  push:
    branches:
      - main
      - 'releases/*'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: |
          npm ci
      - run: |
          npm run all
      - run: |
          git diff --name-only --exit-code
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-20.04, windows-latest, macos-latest]
    steps:
      - uses: actions/checkout@v2
      - uses: ./
  test-with-arg:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-20.04, windows-latest, macos-latest]
    steps:
      - uses: actions/checkout@v2
      - uses: ./
        with:
          version: 1.4.0
          script: |
              #!/usr/bin/env kotlin
              @file:Repository("https://dl.bintray.com/jakubriegel/kotlin-shell")
              @file:DependsOn("eu.jrie.jetbrains:kotlin-shell-core:0.2.1")
              @file:DependsOn("org.slf4j:slf4j-simple:1.7.28")
              @file:CompilerOptions("-Xopt-in=kotlin.RequiresOptIn")
              @file:OptIn(kotlinx.coroutines.ExperimentalCoroutinesApi::class)
              import eu.jrie.jetbrains.kotlinshell.shell.*
              shell {
                "uname"()
              }
  docker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: |
          docker build . -t devenv
          docker run --rm devenv npm run test && node /home/runner/work/_actions/fwilhe2/setup-kotlin/main/dist/index.js
